# The GOOGLE API key
GOOGLE_API_KEY=your_google_api_key_here
# The gemini model
GOOGLE_MODEL=gemini-2.0-flash-lite/gemini-2.5-flash-lite/gemini-2.5-flash/gemini-3-flash-preview/gemini-3-pro-preview
# port of the REST service
PORT=3000
# REST endpoint for the client
REST_ENDPOINT=http://localhost:3000/cve-analysis
# the REST API key
REST_API_KEY=...
# name of the lambda function, used for updating it
AWS_LAMBDA_FUNCTION_NAME=arn:aws:lambda:us-east-1:...
# name of the AWS region
AWS_REGION=us-east-1
# AWS access key id
AWS_ACCESS_KEY_ID=...
# AWS secret access key
AWS_SECRET_ACCESS_KEY=...
# The name of the S3 bucket for storing the frontend bundle.
S3_BUCKET_NAME=...
# The id of the cloudfront distribution delivering the frontend files.
CLOUDFRONT_DISTRIBUTION_ID=...
